# Use this chunk for OG OpenAI API (from openai import OpenAI), comment it otherwise
# Sample API URL is a proxy to the official OpenAI API
# OPENAI_API_VERSION can be ignored
USE_AZURE = 0
OPENAI_API_URL = https://oneapi.xty.app/v1
OPENAI_API_KEY = YOUR_KEY
OPENAI_API_VERSION = 2023-12-01-preview
OPENAI_API_MODEL = gpt-3.5-turbo-1106

# Use this chunk for (HKUST) Azure OpenAI API (from openai import AzureOpenAI), comment it otherwise
# Sample API URL is the HKUST Azure OpenAI API
USE_AZURE = 1
OPENAI_API_URL = https://hkust.azure-api.net
OPENAI_API_KEY = YOUR_KEY
OPENAI_API_VERSION = 2023-12-01-preview
OPENAI_API_MODEL = gpt-35-turbo

# Use NOTION_DRYRUN to disable all Notion integration
# Check the console for output
NOTION_DRYRUN = 1

# Populate with Notion API details
NOTION_INTEGRATION_KEY = YOUR_KEY
NOTION_DATABASE_1_ID = YOUR_ID
NOTION_VERSION = "2022-06-28"
NOTION_CREATE_URL = "https://api.notion.com/v1/pages"
NOTION_DATABASE_1_QUERY_URL = "https://api.notion.com/v1/databases/" + NOTION_DATABASE_1_ID + "/query"